h2,
h1,
img,
body,
div,
li,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.title {
  color: rgb(72, 127, 90);
  background: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-size: 40px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;
  justify-content: space-around;
}

.card-name {
  text-align: center;
  font-size: 18px;
}

.card-description p {
  margin: 10px 0;
}

.card {
  max-width: 200px;
  max-height: 400px;
  margin: 10px;
}

.card-description {
  background: #41593f;
  color: white;
  padding: 10px;
}

.card-img {
  height: 250px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  background: #41593f;
  color: white;
  padding: 10px;
  border: none;
  margin: 0 10px;
}

input {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  width: 220px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  align-items: center;
  margin: 20px auto;
  padding: 0 130px;
}
